# 자료형

* 숫자 
* 문자
* 리스트
* 부울, 불린 (True, False)
* 딕셔너리

Dictionary: 사전

영어 단어: 뜻

People: 사람

{Key: Value}

In [1]:
dic = {'people': '사람'}

In [2]:
dic['people']

'사람'

In [3]:
a = {"Korea":"Seoul", "USA":"Washington", 
     "Japan":"Tokyo", "China":"Beijing"}

In [4]:
a["Korea"]

'Seoul'

In [5]:
a["USA"]

'Washington'

In [6]:
a["China"]

'Beijing'

In [ ]:
c = {1:"Korea", 2:"USA", 3:"Japan", 4:"China"}
a = {"Korea":"Seoul", "USA":"Washington", "Japan":"Tokyo", "China":"Beijing"}

while True:
    print("1. Korea")
    print("2. USA")
    print("3. Japan")
    print("4. China")
    b = int(input("number? "))

    if b < 1 or b > 4:
        print("none")

        break

    print(a[c[b]])

In [7]:
b = {True: "Hello"}

In [8]:
b[True]

'Hello'