In [1]:
a = input()

In [2]:
a

'153.74 34.59 109.5'

문자열 안에는 split()이라는 함수가 존재함.

In [3]:
a.split()

['153.74', '34.59', '109.5']

양쪽에 [] 들어가 있으면 리스트다.

In [4]:
a.split()[0]

'153.74'

리스트의 첫 번째 값을 꺼내려면 숫자는 0을 보내주면 됨.

소수점이 들어가 있는 숫자는 우리가 실수(Float, Decimal)라고 함.

In [6]:
float(a.split()[0])

153.74

In [7]:
float(a.split()[1])

34.59

In [11]:
sum = 0

In [13]:
for i in a.split():
    sum = sum + float(i)

In [14]:
print(sum)

595.6600000000001

In [15]:
print(sum / 3)

198.55333333333337

반올림을 하려면, round()라는 이름의 함수를 사용해야 함.

In [16]:
print(round(sum / 3))

199

In [17]:
sum = 0

In [19]:
for i in a.split():
    sum = sum + round(float(i))

In [21]:
print(round(sum / 3))

199

print() 함수에 뭔가를 출력을 하게 되면, 그것은 문자인지 또는 숫자인지 우리가 확인할 수 있는 방법이 없다.

문자열을 영어로 무엇이라고 할까요?

문자 -> Character
문자열 -> String

In [22]:
a = input()

In [23]:
a

'15 20 41 8 26 33 19'

In [24]:
a.split()

['15', '20', '41', '8', '26', '33', '19']

In [57]:
b = []

In [58]:
for i in a.split():
    b.append(int(i))

In [59]:
b

[15, 20, 41, 8, 26, 33, 19]

In [28]:
for i, j in enumerate(b):
    print(i, j)

0 15
1 20
2 41
3 8
4 26
5 33
6 19

In [60]:
count = 0

In [61]:
for i in range(len(b) - 1, 0, -1):
    for j in range(i):
        if b[j] > b[j + 1]:
            b[j], b[j + 1] = b[j + 1], b[j]

    if count == 5:
        break

    count = count + 1

In [62]:
b

[8, 15, 19, 20, 26, 33, 41]

In [63]:
count = 5

In [64]:
count = count - 1

In [67]:
count -= 1

In [69]:
count = count + 1

In [71]:
count = 0

In [ ]:
count = count + 1

In [72]:
count += 1

In [74]:
count = count * 1

In [75]:
count *= 1

In [76]:
count = count / 1

In [77]:
count /= 1

In [78]:
count = count % 1

In [79]:
count %= 1

In [ ]:
count = count - 1